<aside class="sidebar bg-white border-end">
  <div class="logo-container">
    <img src="Images/KMD Logo.jpg">
    <h1 class="logo-text">College</h1>
  </div>

  <nav class="d-flex-grow-1 p-4 text-black">
    <a href="Student_Dashboard.html" class="nav-item">
      <i class="bi bi-tv"></i>
      <span class="menu-text">Dashboard</span>
    </a>
    <a href="Student_Profile.html" class="nav-item">
      <i class="bi bi-person-circle"></i>
      <span class="menu-text">Profile</span>
    </a>
    <a href="Edit_Profile.html" class="nav-item">
      <i class="bi bi-pencil-square"></i>
      <span class="menu-text">Edit Profile</span>
    </a>
    <a href="Tutor_Profile.html" class="nav-item">
      <i class="bi bi-person-fill"></i>
      <span class="menu-text">Tutor</span>
    </a>
    <a href="Meeting.html" class="nav-item">
      <i class="bi bi-camera-video"></i>
      <span class="menu-text">Meeting</span>
    </a>
    <a href="Messaging.html" class="nav-item">
      <i class="bi bi-chat-left-dots"></i>
      <span class="menu-text">Message</span>
    </a>
    <a href="Blog_Post.html" class="nav-item">
      <i class="bi bi-journal-text"></i>
      <span class="menu-text">Blog Post</span>
    </a>
    <a href="Document.html" class="nav-item">
      <i class="bi bi-upload"></i>
      <span class="menu-text">Document</span>
    </a>
    <a href="Comment.html" class="nav-item">
      <i class="bi bi-chat-left-dots"></i>
      <span class="menu-text">Comment</span>
    </a>
    <a href="Login.html" class="nav-item logout">
      <i class="bi bi-box-arrow-right"></i>
      <span class="menu-text">Logout</span>
    </a>

    <div class="last-login mt-3">
      <p>Last Login</p>
      <p id="lastLoginValue"></p>
    </div>
  </nav>
</aside>
