<aside class="sidebar bg-white border-end">
  <div class="logo-container">
    <img src="Images/KMD Logo.jpg">
    <h1 class="logo-text">College</h1>
  </div>

  <nav class="d-flex-grow-1 p-4 text-black">
    <a href="Staff_Dashboard.html" class="nav-item active">
      <i class="bi bi-tv"></i>
      <span class="menu-text">Dashboard</span>
    </a>
    <a href="Student_Profile.html" class="nav-item">
      <i class="bi bi-people"></i>
      <span class="menu-text">Students</span>
    </a>
    <a href="Tutor_Profile.html" class="nav-item">
      <i class="bi bi-person-badge"></i>
      <span class="menu-text">Tutors</span>
    </a>
    <a href="Allocation.html" class="nav-item">
      <i class="bi bi-diagram-3"></i>
      <span class="menu-text">Allocation</span>
    </a>
    <a href="Meeting.html" class="nav-item">
      <i class="bi bi-camera-video"></i>
      <span class="menu-text">Meeting</span>
    </a>
    <a href="Report.html" class="nav-item">
      <i class="bi bi-bar-chart"></i>
      <span class="menu-text">Reports</span>
    </a>
    <a href="Login.html" class="nav-item logout">
      <i class="bi bi-box-arrow-right"></i>
      <span class="menu-text">Logout</span>
    </a>

    <div class="last-login mt-3">
      <p>Last Login</p>
      <p id="lastLoginValue">--/--/--</p>
    </div>
  </nav>
</aside>
